@media (max-width: 480px) {
    .nav-item:first-child a {
        border-radius: 0 !important;
    }
    .conteudo {
        width: 100%;
        margin-left: 1em;
    }
    .slide h2 {
        font-size: 0.85em;
    }
    .slide p {
        font-size: 0.3em;
    }
    #busca {
        margin-left: 2.1em;
    }
    #txtbusca {
        width: 60%;
    }
    .area-lateral-mobile {
        display: block;
        float: none;
        clear: both;
        width: 60%;
        margin-left: 3em;
    }
    .area-lateral {
        display: none;
    }
    .postagens {
        width: 80%;
        margin-left: 1em;
    }
}

@media (min-width: 480px) {
    .nav-mobile {
        left: 50%;
        width: 300px;
        margin-left: -150px;
    }
    .nav-item:first-child a {
        border-radius: 5px 0 0 5px;
    }
}

@media (max-width: 768px) {
    .nav {
        font-size: 5vw;
        min-height: 50px;
    }
    .nav-list {
        width: 100%;
        display: none;
    }
    .nav-item {
        width: 100%;
        float: none;
        border: 1px solid #007fff;
    }
    .nav-item:first-child a {
        border-radius: 5px 5px 0 0;
    }
    .nav-item:last-child a {
        border-radius: 0 0 5px 5px;
    }
    /* Deixa o menu mobile visivel só para celulares e tablets */
    .nav-mobile {
        display: block;
    }
    .conteudo {
        width: 100%;
    }
    .slide h2 {
        font-size: 0.85em;
    }
    .slide p {
        font-size: 0.3em;
    }
    #busca {
        margin-left: 2em;
    }
    #txtbusca {
        width: 60%;
    }
    .cabeçalho {
        min-width: 100%;
    }
}

@media (max-width:900px)and (min-width:750px) {
    .cabeçalho {
        min-width: 100%;
    }
    .conteudo {
        width: 100%;
        margin-left: 1em;
    }
    .postagens {
        width: 45%;
        margin-left: 2em;
    }
    .area-lateral {
        margin-right: 3em;
        width: 40%;
    }
}